openapi: 3.0.3
info:
  title: Dokumen API GIS Oleh Backend Developer
  description: Dokumentasi GIS
  termsOfService: https://github.dev/AkbarHasballah/SwaggerBE
  contact:
    email: salmanakbartafisa@gmail.com 
  license:
    name: GIS chapter 6 Salman
    url: https://pkg.go.dev/github.com/AkbarHasballah/BackEndGis
  version: 1.0.11
externalDocs:
  description: Repositori Google Cloud Function
  url: github.com/AkbarHasballah/BackEndGis
servers:
  - url: https://asia-southeast2-bustling-walker-340203.cloudfunctions.net
  - url: https://us-central1-bustling-walker-340203.cloudfunctions.net/SIgnin
  - url: https://us-central1-bustling-walker-340203.cloudfunctions.net/function-GIS2
  - url: https://asia-southeast2-bustling-walker-340203.cloudfunctions.net/function-webhook
tags:
  - name: data
    description: Data
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/gcf/get/
  - name: Tes Sign up (register)
    description: Auth Access 
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://us-central1-bustling-walker-340203.cloudfunctions.net/SIgnin
  - name: Tes Sign in
    description: Mendapatkan Token
paths:
  /petapedia:
    get:
      tags:
        - data
      summary: Get Data Geospasial
      description: List Data Geospasial
      operationId: getGeoJSON
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peta'
        '400':
          description: Invalid status value
  /function-Signup:
    post:
      tags:
        - auth
      summary: Signup
      description: Signup and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /SIgnin:
    post:
      tags:
        - user
      summary: Login Mendapatkan Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
          - write: apiKey
          - read: apiKey
  /signup:
    post:
      tags:
        - signup
      summary: Pendaftaran User Baru
      description: Melakukan pendaftaran dengan input URL WebHook dan Secret WebHook dan Mendapatkan Token yang baru yang berlaku selama 30 hari
      operationId: signUpNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebHook'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccount'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /device/{token}:
    get:
      tags:
        - device
      summary: Add device Whatsapp
      description: Menambahkan wa user ke server untuk dipakai oleh api dengan memasukkan code dari respon server
      operationId: getDevice
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: Token yang diberikan kepada user
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400':
          description: Invalid status value
  /send/message/text:
    post:
      tags:
        - message
      summary: Kirim pesan teks
      description: Mengirimkan pesan teks kepada perorangan atau group
      operationId: sendMesageText
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextMessage'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextMessageResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
  /whatsauth/request:
    post:
      tags:
        - whatsauth
      summary: Permintaan otorisasi aplikasi
      description: Mengirimkan token otorisasi pada user
      operationId: whatsauthRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsAuth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextMessageResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    WebHook:
      type: object
      properties:
        url: 
          type: string
          example: https://webhook.com
        secret: 
          type: string
          example: isju8ekf9ke
    UserAccount:
      type: object
      properties:
        phonenumber:
          type: string
          example: 6281111
        webhook:
          type: object
          properties:
            url: 
              type: string
              example: https://webhook.com
            secret: 
              type: string
              example: isju8ekf9ke
        token:
          type: string
          example: v4.public.asoiduas
    TextMessage:
      type: object
      properties:
        to:
          type: string
          example: 6281111
        isgroup:
          type: bool
          example: false
        messages:
          type: string
          example: hai kak
    WhatsAuth:
      type: object
      properties:
        uuid:
          type: string
          example: isodjaoidsjaoid
        phonenumber:
          type: string
          example: 6281212
        delay:
          type: int
          example: 2
    TextMessageResponse:
      type: object
      properties:
        response:
          type: string
          example: 3EB05B55C862B68AF58C97
    DeviceResponse:
      type: object
      properties:
        phonenumber:
          type: string
          example: 628888888
        status:
          type: bool
          example: false
        code:
          type: string
          example: RGCF-L1LH
        message:
          type: string
          example: Pair Code Device
  requestBodies:
    TextMessageReq:
      description: Kirim Pesan teks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextMessage'
    TextMessageResp:
      description: Respon dari request
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TextMessageResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
